@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Syne&display=swap');

*{
    font-family: 'Syne', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: 2x linear;
}
body{
    overflow-x: hidden;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(../top_03.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 140px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f922cb;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color:#fff;
    position: absolute;
    top: 40%;
    left: 100%;
    transform: translate(-50%,-50%);
}
.text-box h1{
    font-size: 62px;
    font-family: 'Germania One', cursive;
    letter-spacing: 5px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
}
.hero-btn{
    flex: 1 1 auto;
    margin: 10px;
    padding: 12px 34px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    border-radius: 10px;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid;
}
.hero-btn:hover {
    background-position: right center;
}
.hero-btn{
    background-image: linear-gradient(to right, #500c7a 0%, #9f2f87 60%, #500c7a 100%);
    font-size: 13px;
    border-radius: 2px 10px;
  }
  .btn{
    color: #fff;
    margin-left: 20px;
    font-size: 13px;
    text-decoration: underline;
  }

  nav .bi{
    display: none;
  }
  .outer-box{
    content: '';
    position: absolute;
    bottom: 0;
    padding: 50px;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #540d36,transparent);
    z-index: 1000;
  }
  .inner-box{
    width: 65%;
    height: 500px;
    background: #fff6ec;
    position: relative;
    padding: 25px; 
    margin-top: 80px;
    left: 20%;
    z-index: 1;
  }

  @media(max-width:700px){
    .text-box h1{
        font-size: 20px;
        font-family: 'Germania One', cursive;
        letter-spacing: 5px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #9f2f87;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .bi{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
.text-about{
    position: relative;
    padding: 40px;
    width: 100%;
    height: 500px;
    background: #540d36;
}
.container img{
    margin-top: 100px;
    margin-left: 550px;
}
.inner-box h3{
    font-size: 3em;
    margin-bottom: 10px;
    color: #323131;
    font-family: 'germania one', cursive;
}
.inner-box p{
    font-size: 1.1em;
    color: #323131;
}
.inner-box blockquote{
    margin: 30px 0;
    padding-left: 25px;
    border-left: solid 6px #d9c1a4;
}
blockquote{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.float{
    position: absolute;
    top: -150px;
    right: -70px;
}
.dice{
    opacity: 0.1;
    position: relative;
    top: -170px;
    right: -480px;
}
.txt-cpg{
    position: relative;
    padding: 100px;
    background: #fff;
}
.txt-cpg h2{
    font-size: 3.3em;
    margin-bottom: 10px;
    font-family: 'germania one', cursive;
    text-align: center;
    margin-top: 300px;
}
.sword-1{
    position: absolute;
    top: -150px;
    right: -70px;
    padding: 700px;
    
}